<ng-container *ngIf="step<3">

  <div class="flex text-center m-5">
    <div *ngFor="let item of basketSteps"
         class="border-b-4 bg-bg-light h-[70px] w-1/3 p-3 flex items-center justify-center"
         (click)="menuClick(item.step)"
         [ngClass]="[step === item.step ?
                    'border-primary-light text-primary-light':
                    'border-primary-dark text-primary-dark',
                     step >= item.step ? 'cursor-pointer' : 'cursor-not-allowed']">
      <span class="text-md sm:text-xl">{{item.label}}</span>
    </div>
  </div>


  <ng-container *ngIf="step==0"><app-basket-overview></app-basket-overview></ng-container>
  <ng-container *ngIf="step==1"><app-basket-pay-trans></app-basket-pay-trans></ng-container>
  <ng-container *ngIf="step==2"><app-basket-summary></app-basket-summary></ng-container>

  <div class="border-4 border-primary-light mt-10 m-5">
    <div class="flex justify-between py-2 px-5 ">
      <span class="text-md sm:text-xl text-primary-dark">Cena celkem za zboží</span>
      <span class="text-md sm:text-xl text-primary-dark">{{getProductsPrice()}} Kč</span>
    </div>
    <div *ngIf="step>0" class="flex justify-between py-2 px-5">
      <span class="text-md sm:text-xl text-primary-dark">Cena dopravy</span>
      <span class="text-md sm:text-xl text-primary-dark">{{getTransportPrice() ?? ' - '}} Kč</span>
    </div>
    <div *ngIf="step>0" class="flex justify-between py-2 px-5">
      <span class="text-md sm:text-xl text-primary-dark">Cena platby</span>
      <span class="text-md sm:text-xl text-primary-dark">{{getPaymentPrice() ?? ' - '}} Kč</span>
    </div>
    <div *ngIf="step>0" class="flex justify-between py-2 px-5 border-t-2 border-primary-dark bg-bg-light">
      <span class="text-md sm:text-xl text-primary-light">Cena celkem</span>
      <span class="text-xl sm:text-2xl font-bold text-primary-light">{{getPrice()}} Kč</span>
    </div>
  </div>
  <form *ngIf="step===2" [formGroup]="termsForm" class="flex flex-col m-5">
    <div class="flex mt-3">
      <input id="terms"
             type="checkbox"
             formControlName="term"
             class="w-4 h-4 my-auto"/>
      <label for="terms" class="ml-3 text-primary-dark">
        souhlasím s
        <a href="/assets/documents/obchodni_podminky.pdf"
           target="_blank"
           class="hover:underline text-primary-light">
          obchodními podmínkami
        </a></label>

    </div>
    <div class="w-full my-5" *ngIf="termsForm.get('term').touched">
      <p class="text-danger text-2xl font-bold" *ngIf="termsForm.get('term').errors?.['required']">Potvrďte souhlas s podminkami</p>
    </div>
    <div class="flex mt-3">
      <input id="gdpr"
             type="checkbox"
             formControlName="gdpr"
             class="w-4 h-4 my-auto"/>
      <label for="gdpr" class="ml-3 text-primary-dark">
        souhlasím s
        <a href="/assets/documents/gdpr.pdf"
           target="_blank"
           class="hover:underline text-primary-light">
          Podmínkami ochrany osobních údajů.
        </a></label>
    </div>

  </form>

  <div class="flex flex-row justify-center">
    <button class="px-5 sm:px-10 py-4 m-2 sm:m-5 mb-10 text-xs text-primary-dark"
            (click)="stepBack()">
      {{step===0 ? 'zpět do e-shopu' : 'zpět'}}
    </button>
    <button class="border-2 border-primary-light px-2 sm:px-10 py-4 m-2 sm:m-5 mb-10 rounded"
            (click)="step===2 ? order() : nextStep()">
      <span class="text-primary-light font-bold text-xl sm:text-2xl">{{step===2 ? 'Objednat' : 'Pokračovat'}}</span>
      <span class="block text-primary-dark text-xs sm:text-md">{{step===2 ? 's povinností platby' : ''}}</span>
    </button>
  </div>
</ng-container>


<div *ngIf="step === 3" class="flex flex-col my-10">
  <ng-container *ngIf="orderResponse">
    <span class="text-2xl font-bold text-center text-primary-light">Děkujeme za nákup</span>
    <span class="text-xl text-center text-primary-light mt-3">
      Brzy Vám příjde e-mail s potvrzením objednávky číslo: {{orderResponse.invoiceId}}.
    </span>
    <div *ngIf="orderResponse.paymentCode==='PRE'"
         class="flex flex-col text-xl text-center text-primary-dark mt-3">
      <span class="mt-3">
        Prosíme o úhradu částky {{orderResponse.totalPrice}} Kč na náš účet.
      </span>
      <span class="mt-3">
        Číslo účtu: <b>2602805796/2010</b>.
      </span>
      <span class="mt-3">
        Variabilní symbol: <b>{{orderResponse.invoiceId}}</b>.
      </span>
    </div>

    <div class="flex justify-center">
      <button class="border-2 border-primary-light text-primary-light text-xl px-3 py-1 m-5 mb-10 rounded"
              (click)="goToEshop()"> zpět do e-shopu
      </button>
      <button class="border-2 border-primary-light text-primary-light text-xl px-3 py-1 m-5 mb-10 rounded"
              (click)="goToHome()"> zpět na hlavní stránku
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="!orderResponse">
    <app-loading class="h-full"></app-loading>
    <p>{{orderResponse.paymentCode}}</p>
  </ng-container>
</div>




