<ng-container *ngIf="step<3">

  <div class="flex text-center m-5">
    <div *ngFor="let item of basketSteps"
         class="border-b-4 bg-bg-light h-[70px] w-1/3 p-3 flex items-center justify-center"
         (click)="menuClick(item.step)"
         [ngClass]="[step === item.step ?
                    'border-primary-light text-primary-light':
                    'border-primary-dark text-primary-dark',
                     step >= item.step ? 'cursor-pointer' : 'cursor-not-allowed']">
      <span>{{item.label}}</span>
    </div>
  </div>


  <router-outlet></router-outlet>

  <div class="border-4 border-primary-light mt-10 m-5">
    <div class="flex justify-between py-2 px-5 ">
      <span class="text-xl text-primary-dark">Cena celkem za zbozi</span>
      <span class="text-xl text-primary-dark">{{getProductsPrice()}}Kc</span>
    </div>
    <div *ngIf="step>0" class="flex justify-between py-2 px-5">
      <span class="text-xl text-primary-dark">Cena dopravy</span>
      <span class="text-xl text-primary-dark">{{getTransportPrice() ?? ' - '}}Kc</span>
    </div>
    <div *ngIf="step>0" class="flex justify-between py-2 px-5">
      <span class="text-xl text-primary-dark">Cena platby</span>
      <span class="text-xl text-primary-dark">{{getPaymentPrice() ?? ' - '}}Kc</span>
    </div>
    <div *ngIf="step>0" class="flex justify-between py-2 px-5 border-t-2 border-primary-dark bg-bg-light">
      <span class="text-xl text-primary-light">Cena celkem</span>
      <span class="text-2xl font-bold text-primary-light">{{getPrice()}}Kc</span>
    </div>
  </div>
  <form *ngIf="step===2" [formGroup]="termsForm" class="flex flex-col m-5">
    <div class="flex h-5 mt-3">
      <input id="terms"
             type="checkbox"
             formControlName="term"
             class="w-4 h-4 mt-auto"/>
      <label for="terms" class="ml-3 text-primary-dark">
        souhlasím s
        <a href="/assets/documents/obchodni_podminky.pdf"
           target="_blank"
           class="hover:underline text-primary-light">
          obchodními podmínkami
        </a></label>

    </div>
    <div class="w-full my-5" *ngIf="termsForm.get('term').touched">
      <p class="text-danger text-2xl font-bold" *ngIf="termsForm.get('term').errors?.['required']">Musite souhlasit s podminkami</p>
    </div>
    <div class="flex h-5 mt-3">
      <input id="gdpr"
             type="checkbox"
             formControlName="gdpr"
             class="w-4 h-4 mt-auto"/>
      <label for="gdpr" class="ml-3 text-primary-dark">
        souhlasím s
        <a href="/assets/documents/gdpr.pdf"
           target="_blank"
           class="hover:underline text-primary-light">
          Podmínkami ochrany osobních údajů.
        </a></label>
    </div>

  </form>

  <div class="flex flex-row justify-center">
    <button class="px-10 py-4 m-5 mb-10 text-xs text-primary-dark"
            (click)="stepBack()">
      {{step===0 ? 'zpet do eshopu' : 'zpet'}}
    </button>
    <button class="border-2 border-primary-light text-primary-light text-2xl px-10 py-4 m-5 mb-10 rounded disabled:cursor-not-allowed"
            (click)="step===2 ? order() : nextStep()">
      <b>{{step===2 ? 'Objednat' : 'Pokracovat'}}</b>
      <span class="block text-sm">{{step===2 ? 's povinnosti platby' : ''}}</span>
    </button>
  </div>
</ng-container>


<div *ngIf="step === 3" class="flex flex-col my-10">
  <ng-container *ngIf="orderResponse">
    <span class="text-2xl font-bold text-center text-primary-light">Dekujeme za objednavku</span>
    <span class="text-xl text-center text-primary-light mt-3">
      Brzy vam prijde mail s potvrzenim objednavky {{orderResponse.paymentCode}} {{orderResponse.invoice_id}}
    </span>
    <ng-container *ngIf="payment.type==='PRE'">
      <span class="text-xl text-center text-primary-dark mt-3">
        Zpusob platby prevodem
      </span>
      <span class="text-xl text-center text-primary-dark mt-3">
        Prosime zaplatte na ucet xx s variabilnim symbolem {{payment.invoiceId}}
      </span>
    </ng-container>

    <div class="flex justify-center">
      <button class="border-2 border-primary-light text-primary-light text-xl px-3 py-1 m-5 mb-10 rounded"
              (click)="goToEshop()"> zpet do eshopu
      </button>
      <button class="border-2 border-primary-light text-primary-light text-xl px-3 py-1 m-5 mb-10 rounded"
              (click)="goToHome()"> zpet na hlavni stranu
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="!orderResponse">
    <app-loading class="h-full"></app-loading>
    <p>{{orderResponse.paymentCode}}</p>
  </ng-container>
</div>




