<div class="relative w-full h-0 pb-[70%]">
  <div *ngFor="let slide of slides; let  i = index"
       class="absolute top-0 left-0 z-1 object-contain">
    <img *ngIf="i===step"
         class="m-auto "
         [src]="getBase() + slide.url" @carouselAnimation>
  </div>
  <button *ngIf="showBtns"
          class="absolute left-0 top-0 h-full w-[20%] cursor-pointer
          opacity-50 hover:opacity-100 bg-bg-light bg-opacity-0 hover:bg-opacity-50"
          (click)="move(-1)">
    <svg class="mx-auto" width="20" height="20" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 12L20 23.547L20 0.452995L0 12Z" fill="black" />
    </svg>
  </button>
  <button *ngIf="showBtns"
          class="absolute right-0 top-0 h-full w-[20%] cursor-pointer
          opacity-50 hover:opacity-100 bg-bg-light bg-opacity-0 hover:bg-opacity-50"
          (click)="move(1)">
    <svg class="mx-auto" width="20" height="20" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M20 12L6.97839e-08 0.452994L-6.97839e-08 23.547L20 12Z" fill="black"/>
    </svg>
  </button>
</div>
