<div class="flex flex-col w-full max-w-[1000px] mx-auto p-10 bg-bg-light rounded-2xl shadow-2xl mb-20">
  <span class="text-center text-xl text-primary-dark mb-3">Kontaktní formulář</span>
  <form class=" flex flex-col w-full grid grid-cols-1 sm:grid-cols-3 gap-5">
    <div class="col-span-1">
      <div class="mt-2 w-full flex flex-col">
        <label for="mail" class="text-primary-dark">Mail</label>
        <input type="text" id="mail" class="px-3 py-1 border-2 border-primary-dark rounded focus:ring-primary-light"
               placeholder="muj@mail.cz" required />
      </div>
      <div class="mt-2 w-full flex flex-col">
        <label for="name" class="text-primary-dark">Jmeno/firma</label>
        <input type="text" id="name" class="px-3 py-1 border-2 border-primary-dark rounded focus:ring-primary-light"
               placeholder="Novak Martin" required />
      </div>
    </div>

    <div class="mt-2 w-full col-span-2 flex flex-col">
      <label for="message" class="text-primary-dark">Zpráva</label>
      <textarea placeholder="Message*"
                id="message"
                class="h-full w-full px-3 py-1 border-2 border-primary-dark rounded focus:ring-primary-light">
        </textarea>
    </div>
  </form>

  <button class="uppercase font-bold bg-primary-light text-white p-3 mx-auto mt-10 w-[10rem] rounded-lg">
    Odeslat
  </button>
</div>
