<div id="'id'" class="flex flex-col gap-10 mb-10 min-h-[100vh]">
  <ng-container *ngIf="products$ | async as products else LOADING">
    <product-box *ngFor="let product of products"
                 [id]="product.id"
                 (rendered)="scrollToElement(product.id)"
                 class="scroll-mt-10 md:scroll-mt-20"
                 [productInfo]="product"
                 [preselectColor]="productId == product.id ? productColor: null">
    </product-box>
  </ng-container>
</div>

<ng-template #LOADING>
  <app-loading class="min-h-full"></app-loading>
</ng-template>
