<article class="my-10 md:my-20">
  <h3 class="text-center">{{data.head}}</h3>
  <div class="flex flex-wrap justify-around gap-5 my-10 mx-2 md:mx-0 md:my-20">
    <div *ngFor="let card of data.cards"
         class="flex flex-col justify-between w-full sm:w-[300px] md:w-[400px] bg-secondary rounded-xl ">
      <h3 class="text-center text-white my-5 mx-10">{{card.head}}</h3>
      <h6 class="text-center text-bg-light my-5 mx-10"
          *ngFor="let item of card.text.split(';')">{{item}}</h6>
      <button *ngIf="card.btnLink"
              [routerLink]="'/' + card.btnLink"
              class="mx-auto my-5 bg-white text-secondary hover:bg-bg-light rounded-xl py-2 px-5">
        {{card.btnText}}</button>
    </div>
  </div>
</article>
