<div class="relative flex flex-col px-5 mb-10">
  <ng-container *ngIf="instruction$ | async as instruction; else LOADING">

    <article>
      <h3 class="text-center">{{instruction.head}}</h3>
      <h5 class="text-center max-w-[600px] mx-auto">{{instruction.text}}</h5>
    </article>

    <article>
      <h4 class="text-center">{{instruction.head_2}}</h4>
      <p class="mx-auto max-w-[600px] text-center">{{instruction.text_2}}</p>
    </article>

    <article>
      <h3 class="text-center">{{instruction.headSklenice}}</h3>
      <div class="flex flex-wrap gap-y-5 md:gap-y-10">
        <div *ngFor="let item of instruction.steps_sklenice"
             class="max-w-[400px] mx-auto p-5 bg-bg-light rounded-xl flex flex-col items-center text-center">
          <h4 class="mb-5">{{item.head}}</h4>
          <p class="mb-0">{{item.text}}</p>
        </div>
      </div>
    </article>

    <article>
      <h3 class="text-center">{{instruction.headMisky}}</h3>
      <div class="flex flex-wrap gap-y-5 md:gap-y-10">
        <div *ngFor="let item of instruction.steps_sitka"
             class="max-w-[400px] mx-auto p-5 bg-bg-light rounded-xl flex flex-col items-center text-center]">
          <h4 class="mb-5">{{item.head}}</h4>
          <p class="mb-0">{{item.text}}</p>
        </div>
      </div>
    </article>
  </ng-container>
</div>

<ng-template #LOADING>
  <app-loading class="min-h-[200px]"></app-loading>
</ng-template>
