<div class="relative flex flex-col px-5 mb-10">
  <ng-container *ngIf="instruction$ | async as instruction; else LOADING">

    <article>
      <h3 class="text-center">{{instruction.head}}</h3>
      <h5 class="text-center max-w-[600px] mx-auto">{{instruction.text}}</h5>
      <img class="max-h-96 mx-auto mt-10 md:mt-20" [src]="getBase() + instruction.main_pic.url">

      <div class="flex flex-wrap justify-center gap-y-10 sm:gap-x-10 md:gap-x-20 mt-10 md:mt-20">
        <div class="flex-1 flex-grow min-w-full md:min-w-min max-w-[600px] overflow-x-scroll">
          <h4 class="text-center">{{instruction.toSprout}}</h4>
          <div class="" [innerHTML]="instruction.table_1"></div>
        </div>
        <div class="flex-1 flex-grow max-w-[600px]">
          <h4 class="text-center">{{instruction.toNotSprout}}</h4>
          <div class="w-max-fit overflow-x-scroll" [innerHTML]="instruction.table_2"></div>
        </div>
      </div>
     </article>

    <article>
      <h4 class="text-center">{{instruction.headSklenice}}</h4>
      <div class="flex flex-col md:flex-row justify-center gap-10 md:gap-20">
        <div class="flex-1 flex-grow flex flex-col gap-y-5 md:gap-y-10">
          <div class="max-w-[400px] mx-auto min-h-64 md:min-h-96 p-5 bg-bg-light rounded-xl flex flex-col items-center text-center">
            <h4 class="mb-5">{{instruction.steps_sklenice[selectedSklenice].head}}</h4>
            <p class="mb-0">{{instruction.steps_sklenice[selectedSklenice].text}}</p>
            <div class="flex flex-row mx-auto gap-5 md:gap-10 mt-auto">
              <button class="bg-primary py-2 px-5 rounded-lg text-white text-sm md:text-base"
                      *ngIf="0!==selectedSklenice"
                      (click)="moveSklenice(-1, instruction.steps_sklenice.length)">O krok zpět</button>
              <button class="bg-primary py-2 px-5 rounded-lg text-white text-sm md:text-base"
                      *ngIf="instruction.steps_sklenice.length-1!==selectedSklenice"
                      (click)="moveSklenice(1, instruction.steps_sklenice.length)">Další krok</button>
            </div>
          </div>
        </div>
        <div class="flex-1 flex-grow my-auto">
          <img class="max-h-64 md:max-h-96 mx-auto " [src]="getBase() + instruction.skleniceImg.url">
        </div>
      </div>
    </article>
    <article class="mb-10 md:mb-20">
      <h4 class="text-center">{{instruction.headMisky}}</h4>
      <div class="flex flex-col md:flex-row justify-center gap-10 md:gap-20">
        <div class="flex-1 flex-grow flex flex-col gap-y-5 md:gap-y-10">
          <div class="max-w-[400px] mx-auto min-h-64 md:min-h-96 p-5 bg-bg-light rounded-xl flex flex-col items-center text-center">
            <h4 class="mb-5">{{instruction.steps_sitka[selectedMiska].head}}</h4>
            <p class="mb-0">{{instruction.steps_sitka[selectedMiska].text}}</p>
            <div class="flex flex-row mx-auto gap-5 md:gap-10 mt-auto">
              <button class="bg-primary py-2 px-5 rounded-lg text-white text-sm md:text-base"
                      *ngIf="0!==selectedMiska"
                      (click)="moveMisky(-1, instruction.steps_sitka.length)">O krok zpět</button>
              <button class="bg-primary py-2 px-5 rounded-lg text-white text-sm md:text-base"
                      *ngIf="instruction.steps_sitka.length-1!==selectedMiska"
                      (click)="moveMisky(1, instruction.steps_sitka.length)">Další krok</button>
            </div>
          </div>
        </div>
        <div class="flex-1 flex-grow my-auto md:order-first">
          <img class="max-h-64 md:max-h-96 mx-auto " [src]="getBase() + instruction.miskaImg.url">
        </div>
      </div>
    </article>
  </ng-container>
</div>

<ng-template #LOADING>
  <app-loading class="min-h-[200px]"></app-loading>
</ng-template>
