<div *ngIf="restaurantData$ | async as restaurantData else LOADING" class="flex flex-col px-5">
  <article class="grid grid-cols-1 md:grid-cols-2 text-center md:text-left">
    <div class="flex flex-col">
      <h2>{{restaurantData.head}}</h2>
      <h5>{{restaurantData.text}}</h5>
      <button  (click)="scrollToElement(target)"
               class="btn m-auto md:ml-0">
        Objednat ochutnávku
      </button>
    </div>
    <div class="flex flex-col p-5">
      <img [src]="getBase()+restaurantData.main_img.url">
    </div>
  </article>

  <article>
    <h3 class="text-center">Jak to funguje</h3>
    <div class="flex flex-wrap justify-around gap-5 md:gap-10 my-5">
      <div *ngFor="let item of offers$ | async"
           class="max-w-[200px] md:max-w-[300px] p-5 bg-bg-light rounded-xl flex flex-col items-center text-center shadow-xl">
        <h4 class="mb-5">{{item.head}}</h4>
        <p class="mb-0">{{item.text}}</p>
      </div>
    </div>
  </article>

  <article class="flex flex-col md:flex-row text-center md:text-left pt-5 md:pt-10">
    <div class="md:w-[50%] flex flex-col px-5 md:px-20">
      <h3 class="">{{restaurantData.head_2}}</h3>
      <ul class="md:list-disc text-secondary font-semibold text-base sm:text-lg md:text-xl lg:text-2xl"
          [innerHTML]="restaurantData.text_2"></ul>
    </div>
    <div class="w-full md:w-[50%] mt-5 md:mt-0 md:order-first">
      <app-carousel  class="m-auto"
                     [delay]="4000"
                     [showBtns]="false"
                     [slides$]="getObsSlides(restaurantData.meals)">
      </app-carousel>
    </div>
  </article>

  <article>
    <h3 class="text-center">Co pěstujeme</h3>
    <div class="flex flex-wrap justify-around gap-5 md:gap-10 my-5 max-h-[60vh] md:max-h-fit overflow-y-scroll">
      <div *ngFor="let item of growOptions$ | async"
           class="relative max-w-[150px] md:max-w-[250px]  border-bg-light border-4 rounded-md flex flex-col items-center text-center shadow-lg">
        <img class="z-[-1] w-[100px] md:w-[200px] h-[100px] md:h-[200px]" [src]="getBase()+item.pic.url">
        <h4 class="absolute top-0 left-0 w-full h-full md:pt-[150px] md:opacity-0 hover:opacity-100 duration-300 mb-5">{{item.head}}</h4>
      </div>
    </div>
    <div class="text-center my-5">
      <h5>Právě rozšiřujeme nabídku o výhonky:</h5>
      <h4>slunečnice, hrášku, vojtěšky, řepy a česneku</h4>
    </div>
  </article>

  <article>
    <h3 class="text-center">Kontaktujte nás</h3>
    <div class="my-5 text-center flex flex-col">
      <h6 class="mb-3">Mail</h6>
      <h4 class="mb-5">obchod&#64;zrzavaopice.cz</h4>
    </div>
    <div #target>
      <app-contact-form ></app-contact-form>
    </div>
  </article>
</div>

<ng-template #LOADING>
  <app-loading class="min-h-full"></app-loading>
</ng-template>
