<div *ngIf="restaurantData$ | async as restaurantData else LOADING" class="flex flex-col px-5">
  <article class="grid grid-cols-1 md:grid-cols-2 text-center md:text-left">
    <div class="flex flex-col">
      <h2>{{restaurantData.head}}</h2>
      <h5>{{restaurantData.text}}</h5>
      <button  (click)="scrollToElement(target)"
               class="btn m-auto md:ml-0">
        Objednat ochutnávku
      </button>
    </div>
    <div class="flex flex-col p-5">
      <img [src]="getBase()+restaurantData.main_img.url">
    </div>
  </article>


  <article class="flex flex-col md:flex-row text-center">
    <div class="md:w-[50%] flex flex-col px-5 md:px-20">
      <h3 class="">{{restaurantData.head_2}}</h3>
      <h6 class="">{{restaurantData.text_2}}</h6>
    </div>
    <div class="w-full md:w-[50%] mt-5 md:mt-0 md:order-first">
      <app-carousel  class="m-auto"
                     [delay]="4000"
                     [showBtns]="false"
                     [slides$]="getObsSlides(restaurantData.meals)">
      </app-carousel>
    </div>
  </article>

  <article>
    <h3 class="text-center">Co nabízíme</h3>
    <div class="flex flex-wrap justify-around gap-5 md:gap-10 my-5">
      <div *ngFor="let item of offers$ | async"
           class="max-w-[200px] md:max-w-[300px] p-5 bg-bg-light rounded-xl flex flex-col items-center text-center shadow-2xl">
        <h4 class="mb-5">{{item.head}}</h4>
        <p class="mb-0">{{item.text}}</p>
      </div>
    </div>
  </article>

  <article>
    <h3 class="text-center">
       Jak to funguje
    </h3>
    <img class="" [src]="getBase()+restaurantData.how_it_works.url">
  </article>

<!--  <span class="text-3xl sm:text-4xl font-bold text-primary-light text-center mt-20 mb-10">-->
<!--     Co pěstujeme-->
<!--   </span>-->
<!--  <div class="flex flex-wrap justify-center my-5">-->
<!--    <div *ngFor="let option of growOptions$ | async" class="text-center max-w-[25%] m-5 ">-->
<!--      <img class="" [src]="getBase()+option.pic.url">-->
<!--      <span class="text-xl text-primary-dark">{{option.head}}</span>-->
<!--    </div>-->
<!--  </div>-->


  <article>
    <h3 class="text-center">Kontaktujte nás</h3>
    <div class="my-5 text-center flex flex-col">
      <h6 class="mb-3">Mail</h6>
      <h4 class="mb-5">obchod&#64;zrzavaopice.cz</h4>
    </div>
    <div #target>
      <app-contact-form ></app-contact-form>
    </div>
  </article>
</div>

<ng-template #LOADING>
  <app-loading class="min-h-full"></app-loading>
</ng-template>
