<div class="flex flex-col px-5 mb-10 text-center">
  <h4 class="mt-5 md:mt-20  mb-0">Máteli jakékoliv dotazy, neváhejte nás kontaktovat</h4>
  <div class="flex flex-wrap justify-center gap-5 md:gap-20">
    <article class="flex flex-col">
      <h6 class="mb-3">Mail:</h6>
      <h4 class="mb-5">obchd&#64;zrzavaopice.cz</h4>
      <h6 class="text-center mb-3">Sociální sítě:</h6>
      <div class="w-full flex mt-1 justify-center">
        <img class="px-2 cursor-pointer" src="assets/soc/ig.svg" (click)="goToIg()">
        <img class="px-2 cursor-pointer" src="assets/soc/fb.svg" (click)="goToFb()">
        <img class="px-2 cursor-pointer" src="assets/soc/pi.svg" (click)="goToPi()">
      </div>
    </article>

    <article class="flex flex-col">
      <h6 class="mb-3">Výdejní místo:</h6>
      <p>Objednávky lze vyzvednout na adrese:</p>
      <h4 class="">Veletržní 41, Praha 7</h4>
    </article>
    <article class="flex flex-col">
      <h6 class="mb-3">Provozovatel:</h6>
      <p class="text-secondary mt-1">Martin Kostohryz</p>
      <p class="text-secondary">Štichova 637/18, 149 00, Praha 4 - Háje</p>
      <p class="text-secondary">kostohryz&#64;zrzavaopice.cz</p>
      <p class="text-secondary">IČO: 13969200</p>
    </article>
  </div>

  <div id="'dokumenty'" class="mt-10 md:mt-20 flex flex-wrap justify-center gap-5 md:gap-20">
    <article class="flex flex-col">
      <h4 class="mb-0">Dokumenty</h4>
      <p class="text-secondary mt-2">Nákup se řídí podle:</p>
      <div class="overflow-x-auto">
        <a class="text-xl text-primary mt-2 cursor-pointer"
           href="/assets/documents/obchodni_podminky.pdf"
           target="_blank">Obchodni_podminky.pdf</a>
      </div>
      <p class="">Zpracování osobních údajů:</p>
      <a class="text-xl text-primary mt-2 cursor-pointer"
         href="/assets/documents/gdpr.pdf"
         target="_blank">gdpr.pdf</a>
    </article>


    <article class="flex flex-col mb-10 md:max-w-[40%]">
      <h4 class="mb-0">Reklamace</h4>
      <p class="mt-2">
        V případě, že je něco v nepořádku s Vaší objednávkou, ozvěte se nám na mail <b>reklamace&#64;zrzavaopice.cz</b> a problém vyřešíme.
      </p>
      <p class="mt-2">
        Zboží nám taktéž můžete poslat zpět na naše výdejní místo <b>Veletržní 41, 170 00, Praha 7</b> spolu s jedním z vyplněným formulářem níže:
      </p>
      <div class="overflow-x-auto flex flex-col">
        <a class="text-xl text-primary mt-2 cursor-pointer"
           href="/assets/documents/reklamacni_formular.pdf"
           target="_blank">
          reklamacni_formular.pdf
        </a>

        <a class="text-xl text-primary mt-2 cursor-pointer"
           href="/assets/documents/odstoupeni_od_smlouvy.pdf"
           target="_blank">
          odstoupeni_od_smlouvy.pdf
        </a>
      </div>
    </article>
  </div>
</div>
