<div class="flex flex-col my-10 mt-20 px-5 text-center">
  <div class="flex flex-col">
    <span class="text-2xl text-primary-light">Máteli jakékoliv dotazy neváhejte nás kontaktovat</span>

    <span class="text-xl text-primary-light mt-10">Mail:</span>
    <span class="text-primary-dark mt-1">obchd&#64;zrzavaopice.cz</span>

<!--    <span class="text-xl text-primary-light mt-3">Tel:</span>-->
<!--    <span class="text-primary-dark mt-1">720258660</span>-->

    <span class="text-xl text-primary-light mt-3">Sociální sítě:</span>
    <div class="w-full flex mt-1 justify-center">
      <img class="px-2 cursor-pointer" src="assets/soc/ig.svg" (click)="goToIg()">
      <img class="px-2 cursor-pointer" src="assets/soc/fb.svg" (click)="goToFb()">
      <img class="px-2 cursor-pointer" src="assets/soc/pi.svg" (click)="goToPi()">
    </div>
  </div>

  <div class="flex flex-col mt-20">
    <span class="text-xl text-primary-light">Výdejní místo:</span>
    <span class="text-primary-dark mt-1">
      Objednávky lze vyzvednout na adrese:
      <span class="font-extrabold">Veletržní 41, Praha 7</span>
    </span>
  </div>

  <div class="flex flex-col mt-20 mb-10">
    <span class="text-xl text-primary-light">Provozovatel:</span>
    <span class="text-primary-dark mt-1">Martin Kostohryz</span>
    <span class="text-primary-dark">Štichova 637/18, 149 00, Praha 4 - Háje</span>
    <span class="text-primary-dark">kostohryz&#64;zrzavaopice.cz</span>
    <span class="text-primary-dark">IČO: 13969200</span>
  </div>
</div>
