<div>
  <div *ngIf="products.length===0"
       class="m-8 md:m-20 lg:m-40 flex flex-col text-center">
    <h5 class="mb-0">V košíku nemáte žádné zboží</h5>
    <a class="p-3 m-3 bg-bg-light" routerLink="/eshop"><p>Zpět do e-shopu</p></a>

  </div>
  <div *ngIf="products.length>0" class="px-5">
    <div class="flex flex-col mt-5">
      <div *ngFor="let product of products"
           class="grid grid-cols-6 bg-bg-light p-2 mt-4">
        <h4 class="col-span-5 mb-0">{{product.name}}</h4>
        <div class="flex justify-end cursor-pointer p-1" (click)="removeProduct(product)">
          <svg class="stroke-bg-dark" width="20" height="20" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="0.646447" y1="29.613" x2="28.9307" y2="1.32876"/>
            <line x1="1.39408" y1="0.646447" x2="29.6784" y2="28.9307"/>
          </svg>
        </div>
        <div class="col-span-3 flex flex-col">
          <h5 class="mb-0">Barva</h5>
          <h4 class="mb-0">{{product.color}}</h4>
        </div>
        <div class="col-span-3 flex flex-col">
          <h5 class="mb-0">Velikost</h5>
          <h4 class="mb-0">{{product.size}}</h4>
        </div>

        <div class="col-span-2 flex flex-col">
          <h5 class="mb-0">Počet</h5>
          <h4 class="mb-0">{{product.count}}</h4>
        </div>

        <div class="col-span-2 flex flex-col">
          <h5 class="mb-0">Cena za jeden</h5>
          <h4 class="mb-0">{{product.priceForOne}} Kč</h4>
        </div>

        <div class="col-span-2 flex flex-col">
          <h5 class="mb-0">Mezisoučet</h5>
          <h4 class="mb-0">{{product.count * product.priceForOne}} Kč</h4>
        </div>
      </div>
    </div>
  </div>
</div>
