<div>
  <div *ngIf="products.length===0"
       class="m-8 md:m-20 lg:m-40 flex flex-col text-center">
    <h5 class="mb-0">V košíku nemáte žádné zboží</h5>
    <a class="p-3 m-3 bg-bg-light" routerLink="/eshop"><p>Zpět do e-shopu</p></a>

  </div>
  <div *ngIf="products.length>0" class="px-5">
    <div class="flex flex-col mt-5">
      <div *ngFor="let product of products"
           class="relative grid sm:grid-cols-2 bg-bg-light p-2 mt-4">
        <div class="grid grid-cols-2">
          <h4 class="col-span-2 mb-0">{{product.name}}</h4>
          <div *ngIf="product.color" class="flex flex-col">
            <small class="mb-0 text-secondary">Barva</small>
            <h5 class="mb-0 text-primary">{{product.color}}</h5>
          </div>
          <div *ngIf="product.size" class="flex flex-col">
            <small class="mb-0 text-secondary">Velikost</small>
            <h5 class="mb-0 text-primary">{{product.size}}</h5>
          </div>
        </div>
        <div class="grid grid-cols-2 place-items-end place-self-end mt-5 sm:mt-0">
          <div class="col-span-1 flex flex-col">
            <small class="mb-0 text-secondary">Počet kusů</small>
            <div class="flex flex-row gap-x-2">
              <button class="border-2 rounded-lg w-[25px] h-[25px] md:w-[35px] md:h-[35px] my-auto border-secondary text-primary"
                      (click)="addProduct(-1, product)" >
                <p>-</p>
              </button>
              <h4 class="mb-0">{{product.count}}</h4>
              <button class="border-2 rounded-lg w-[25px] h-[25px] md:w-[35px] md:h-[35px] my-auto border-secondary text-primary disabled:cursor-not-allowed"
                      (click)="addProduct(1, product)"
                      [disabled]="product.count===10">
                <p>+</p>
              </button>
            </div>
            <small class="mb-0 text-secondary">Cena za kus</small>
            <h4 class="mb-0">{{product.priceForOne}} Kč/ks</h4>
          </div>

          <div class="col-span-1 flex flex-col">
            <small class="mb-0 text-secondary">Součet</small>
            <h4 class="mb-0">{{product.count * product.priceForOne}} Kč</h4>
          </div>
        </div>
        <div class="absolute top-[5px] right-[5px] cursor-pointer p-1" (click)="removeProduct(product)">
          <svg class="stroke-black" width="25" height="25" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line x1="0.646447" y1="29.613" x2="28.9307" y2="1.32876"/>
            <line x1="1.39408" y1="0.646447" x2="29.6784" y2="28.9307"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
