<div class="mx-5">
  <div class="relative flex flex-col bg-gradient-to-t md:bg-gradient-to-l from-bg-light  via-white shadow-2xl rounded-xl md:rounded-b-none p-5">
    <div class="flex flex-col md:flex-row text-center ">
      <div class="min-w-[50%] flex flex-col justify-between overflow-hidden">
        <app-carousel [delay]="0" [showBtns]="true" [slides$]="getObsSlides(slides)"></app-carousel>
      </div>
      <div class="flex flex-col text-center md:text-left md:pl-10 w-full">
        <h4 class="mt-3 mb-0">{{productInfo.name}}</h4>
        <p class="mt-3 mb-0">{{productInfo.description}}</p>

        <!--         size       -->
        <div *ngIf="productInfo.sizeLabel" [ngClass]="sizeErr ? 'border-danger border-dashed border-4 px-2 mt-2 bg-warning2' : ''">
          <h5 class="mt-5 mb-0 text-primary">{{productInfo.sizeLabel}}</h5>
          <div class="flex justify-center md:justify-start mt-3">
            <div *ngFor="let size of productInfo.sizes"
                 class="mx-2 md:ml-0 md:mr-3 p-2 max-w-[40%] border-2 relative cursor-pointer"
                 [ngClass]="size.name === selectedSize ? 'border-success border-4' : 'border-secondary'"
                 (click)="selectSize(size.name)">
              <h6 class="mb-0">{{size.name}}</h6>
              <img class="absolute top-0" [src]="size.picSrc">
            </div>
          </div>
          <h5 *ngIf="sizeErr" class="text-danger my-1">{{sizeErr}}</h5>
        </div>

        <!--         color       -->
        <div *ngIf="productInfo.colors.length > 0" [ngClass]="colorErr ? 'border-danger border-dashed border-4 px-2 mt-2 bg-warning2' : ''">
          <h5 class="mt-5 mb-0 text-primary">Barevné varianty:</h5>
          <div  class="flex justify-center md:justify-start mt-3">
            <div *ngFor="let color of productInfo.colors"
                 class="mx-2 md:ml-0 md:mr-3 w-[40px] h-[40px] mx-2 border-2 rounded-md cursor-pointer"
                 [ngStyle]="{'background-color': color.code}"
                 [ngClass]="color.name === selectedColor ? 'border-success border-4' : 'border-secondary'"
                 (click)="selectColor(color.name)"></div>
          </div>
          <h5 *ngIf="colorErr" class="text-danger my-1">{{colorErr}}</h5>
        </div>

        <div class="flex justify-center md:justify-between mt-5 md:mt-auto md:pt-5 w-full">
          <h3 class="text-center my-auto">{{productInfo.price}} Kč</h3>
          <button (click)="addToBasket(productInfo)"
                  [disabled]="colorErr || sizeErr"
                  class="mx-2 my-auto border-2 border-secondary rounded-xl"
                  [ngClass]="colorErr || sizeErr ? 'border-danger border-2 cursor-not-allowed blur-[1px]' : 'hover:border-4'">
            <h5 class="mb-0 hover:text-primary px-5 md:px-8 py-4">Přidat do košíku</h5></button>
        </div>
      </div>

    </div>
    <div *ngIf="selectedDetail"
         class="">
      <div class="w-full my-5 flex justify-center border-y-2 border-secondary border-dotted">
        <button (click)="closeDetail()"
                class="w-[200px] text-secondary text-sm md:text-base my-2">zavřít detail</button>
      </div>
      <div class="mt-5 flex flex-col md:flex-row">
        <div class="w-full md:w-[50%]">
          <img *ngIf="selectedDetail.pics[0]" [src]="getBase()+selectedDetail.pics[0].url">
        </div>
        <div class="w-full md:w-[50%] overflow-x-auto">
          <h4 class="mx-2 mb-0">{{selectedDetail.name}}</h4>
          <p class="mt-5 mx-2" [innerHTML]="selectedDetail.text"></p>
        </div>
      </div>
    </div>
    <div [ngClass]="justAdded ?
                      'visible opacity-100':
                      'invisible opacity-0'" class="transition duration-200">
      <div class="absolute top-0 left-0 w-full h-full bg-success opacity-70 rounded-xl"></div>
      <div class="absolute top-[45%] left-0 w-full text-center text-3xl font-bold text-white">Přidáno do košíku</div>
    </div>
    <div class="flex flex-wrap mt-3 md:hidden w-full justify-around">
      <button *ngFor="let btn of productInfo.details"
              (click)="detailBtnClick(btn)"
              class="px-1 py-3 m-[1%] min-w-[46%]"
              [ngClass]="selectedDetail && btn.name === selectedDetail.name ? 'bg-primary' : 'bg-secondary'">
        <p class="text-white">{{btn.name}}</p>
      </button>
    </div>
  </div>
  <div class="hidden md:flex w-full justify-end gap-3">
    <button *ngFor="let btn of productInfo.details"
            (click)="detailBtnClick(btn)"
            class="px-5 py-3 mt-0 mx-0 rounded-b-xl shadow-2xl"
            [ngClass]="selectedDetail && btn.name === selectedDetail.name ? 'bg-primary' : 'bg-secondary'">
      <p class="text-white">{{btn.name}}</p>
    </button>
  </div>
</div>
