<article class="my-10 md:my-20">
  <h3 class="text-center">{{data.head}}</h3>
  <div class="flex flex-wrap justify-around gap-5 my-10 mx-2 md:mx-0 md:my-20">
    <a *ngFor="let card of data.cards"
       [routerLink]="'/' + card.link"
       class="flex flex-col justify-between w-full sm:w-[300px] md:w-[400px] hover:bg-bg-dark bg-bg-light cursor-pointer rounded-xl">
      <h3 class="text-center my-5 mx-2">{{card.head}}</h3>
      <h6 class="text-center my-5 mx-2">{{card.text}}</h6>
      <img class="h-[10rem] w-full object-cover rounded-b-xl" [src]="getBase() + card.pic.url">
    </a>
  </div>
</article>
