<div *ngIf="homeData$ | async as homeData else LOADING" class="flex flex-col px-5">
  <article *ngIf="homeData"
       class="grid grid-cols-1 md:grid-cols-2 items-center text-center md:text-left ">
    <div class="flex flex-col">
      <h2>{{homeData.head}}</h2>
      <h5>{{homeData.text}}</h5>
    </div>
    <div class="w-full">
      <div class="max-w-[500px] mx-auto">
        <img [src]="getBase() + homeData.main_pic.url">
      </div>
    </div>
  </article>

  <article>
    <h3 class="text-center">Naše nabídka</h3>
    <app-eshop></app-eshop>
  </article>

<!--  <article>-->
<!--    <h3 class="text-center">-->
<!--      Microgreens pro restaurace-->
<!--    </h3>-->
<!--    <div class="flex flex-wrap justify-around gap-5 md:gap-10">-->
<!--      <div *ngFor="let item of offers$ | async"-->
<!--           class="max-w-[200px] md:max-w-[300px] p-5 md:p-12 bg-bg-light rounded-xl flex flex-col items-center text-center shadow-2xl">-->
<!--        <h4 class="mb-0">{{item.head}}</h4>-->
<!--        <h6 class="mb-0">{{item.text}}</h6>-->
<!--      </div>-->
<!--      <div class="w-full flex justify-center">-->
<!--        <a routerLink="/pro-restaurace" class="my-10 md:my-10">-->
<!--          <button class="btn">-->
<!--            Zjistit vice-->
<!--          </button>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </article>-->

  <article>
    <h3 class="text-center">Jak využít microgreens</h3>
    <div class="max-h-[600px] overflow-hidden">
      <app-carousel [delay]="4000" [showBtns]="false" [slides$]="getObsSlides(homeData.microgreens_use)"></app-carousel>
    </div>
  </article>

<!--  <span class="text-3xl sm:text-4xl font-bold text-primary-light text-center mt-20 mb-10">Vlastní design a výroba</span>-->


  <article>
    <h3 class="text-center">Kontaktujte nás</h3>
    <div class="my-5 text-center flex flex-col">
      <h6 class="mb-3">Mail</h6>
      <h4 class="mb-5">obchod&#64;zrzavaopice.cz</h4>
    </div>
    <h6 class="text-center mb-3">Sociální sítě</h6>
    <div class="grid grid-cols-3 max-w-[500px] mx-auto gap-5 mb-10">
      <img class="m-auto px-2 cursor-pointer min-w-[50px] md:min-w-[100px]" src="assets/soc/ig.svg" (click)="goTo('https://www.instagram.com/zrzavaopice/')">
      <img class="m-auto px-2 cursor-pointer min-w-[50px] md:min-w-[100px]" src="assets/soc/fb.svg" (click)="goTo('https://www.facebook.com/profile.php?id=61557278573442')">
      <img class="m-auto px-2 cursor-pointer min-w-[50px] md:min-w-[100px]" src="assets/soc/pi.svg" (click)="goTo('https://cz.pinterest.com/zrzavaopice/')">
    </div>
    <app-contact-form></app-contact-form>
  </article>
</div>


<ng-template #LOADING>
  <app-loading class="min-h-full"></app-loading>
</ng-template>
