<div class="flex flex-col">
  <div class="flex flex-col m-5">
    <span class="text-2xl text-primary-light mt-2">Dokumenty</span>
    <span class="text-primary-dark mt-2">Nakup se ridi podle:</span>
    <div class="overflow-x-auto">
      <a class="text-xl text-primary-light mt-2 cursor-pointer"
         href="/assets/documents/obchodni_podminky.pdf"
         target="_blank">Obchodni_podminky.pdf</a>
    </div>
    <span class="text-primary-dark mt-2">Zpracovani osobnich udaju:</span>
    <a class="text-xl text-primary-light mt-2 cursor-pointer"
       href="/assets/documents/gdpr.pdf"
       target="_blank">gdpr.pdf</a>
  </div>


  <div class="flex flex-col m-5 mb-20 ">
    <span class="text-2xl text-primary-light mt-2">Reklamace</span>
    <span class="text-primary-dark mt-2">
       V případě, že je něco v nepořádku s Vaší objednávkou, ozvěte se nám na mail <b>reklamace&#64;zrzavaopice.cz</b> a problém vyřešíme.
    </span>
    <span class="text-primary-dark mt-2">
      Zboží nám taktéž můžete poslat zpět na naše výdejní místo <b>Veletržní 41, 170 00, Praha 7</b> spolu s jedním z vyplněným formulářem níže:
    </span>
    <div class="overflow-x-auto">
      <a class="text-xl text-primary-light mt-2 cursor-pointer"
         href="/assets/documents/reklamacni_formular.pdf"
         target="_blank">
        reklamacni_formular.pdf
      </a>

      <a class="text-xl text-primary-light mt-2 cursor-pointer"
         href="/assets/documents/odstoupeni_od_smlouvy.pdf"
         target="_blank">
        odstoupeni_od_smlouvy.pdf
      </a>
    </div>
  </div>
</div>

