<div class="flex flex-col">
  <article class="flex flex-col">
    <h4 class="mb-0">Dokumenty</h4>
    <p class="text-secondary mt-2">Nákup se řídí podle:</p>
    <div class="overflow-x-auto">
      <a class="text-xl text-primary mt-2 cursor-pointer"
         href="/assets/documents/obchodni_podminky.pdf"
         target="_blank">Obchodni_podminky.pdf</a>
    </div>
    <p class="">Zpracování osobních údajů:</p>
    <a class="text-xl text-primary mt-2 cursor-pointer"
       href="/assets/documents/gdpr.pdf"
       target="_blank">gdpr.pdf</a>
  </article>


  <article class="flex flex-col mb-10">
    <h4 class="mb-0">Reklamace</h4>
    <p class="mt-2">
       V případě, že je něco v nepořádku s Vaší objednávkou, ozvěte se nám na mail <b>reklamace&#64;zrzavaopice.cz</b> a problém vyřešíme.
    </p>
    <p class="mt-2">
      Zboží nám taktéž můžete poslat zpět na naše výdejní místo <b>Veletržní 41, 170 00, Praha 7</b> spolu s jedním z vyplněným formulářem níže:
    </p>
    <div class="overflow-x-auto flex flex-col">
      <a class="text-xl text-primary mt-2 cursor-pointer"
         href="/assets/documents/reklamacni_formular.pdf"
         target="_blank">
        reklamacni_formular.pdf
      </a>

      <a class="text-xl text-primary mt-2 cursor-pointer"
         href="/assets/documents/odstoupeni_od_smlouvy.pdf"
         target="_blank">
        odstoupeni_od_smlouvy.pdf
      </a>
    </div>
  </article>
</div>

